*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}
table,th,td{
    border-collapse: collapse;
    border: 1px solid black;
}


input[type=text]{
    width: 99%;
    margin-left: 1px;
}